.charts {
    display: flex; /* Ativa o modelo Flexbox */
    justify-content: space-between; /* Espaçamento igual entre os itens */
    align-items: flex-start; /* Alinha os itens ao topo */
    gap: 20px; /* Espaço entre os itens (opcional) */
}
.dashboard-container{
    // background-color: white;
    // padding: 10px 30px;
    // border-radius: 10px; 737373
}
.items-summary{
    display: flex; 
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

}
.dashboard-item{
    background-color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.button-section{
    // background-color:chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaçamento igual entre os itens */
    gap: 20px; /* Espaço entre os itens (opcional) */
    margin-right: 5%;
}