<div class="dashboard-container">
    <!-- Cluster View -->
      <h2>Clusters</h2>
      <div class="items-summary">
        <div class="dashboard-item" >
          <app-bar-chart></app-bar-chart>
        </div>
        <div class="dashboard-item" >
          <app-area-chart></app-area-chart>
        </div>
      </div>
      <div *ngFor="let cluster of clusters"  class="dashboard-item">
        <h3>{{ cluster.name }}</h3>
        <div class="charts">
          <app-radialbar-chart [series]="[cluster.cpu]" [labels]="['CPU']"></app-radialbar-chart>
          <app-radialbar-chart [series]="[cluster.memory]" [labels]="['Memória']"></app-radialbar-chart>
          <app-radialbar-chart [series]="[cluster.disk]" [labels]="['Disco']"></app-radialbar-chart>
          <div class="button-section">
            <button mat-fab extended color="primary" >
              <mat-icon>double_arrow</mat-icon>
              Abrir
            </button>
            <button mat-fab extended color="primary">
              <mat-icon>edit</mat-icon>
              Editar
            </button>
            <button mat-fab extended color="primary">
              <mat-icon>delete</mat-icon>
              Excluir
            </button>
            <div style="height: 20px;"></div>
  
          </div>
        </div>
      </div>
  </div>
  