body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  background-color: #03045e;
  color: white;
  position: fixed; /* Troca de absolute para fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Altura do header */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Certifica que o header ficará acima de outros elementos */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Mantém itens centrados horizontalmente */
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
  color: #00171f;
}
