<form (submit)="addTransaction($event)" class="transaction-form" >
    <mat-form-field class="input">
      <mat-label>Categories</mat-label>
      <mat-select>
        @for (category of categories; track category) {
          <mat-option [value]="category">{{category}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Ex. Pizza" >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Transaction value</mat-label>
      <input matInput type="number" placeholder="Type the value" />
    </mat-form-field>
    <button mat-stroked-button class="form-button">Add</button>
    <!-- <mat-form-field class="">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field> -->
    <!-- <input type="text" placeholder="Descrição" [(ngModel)]="description" name="description" required />
    <input type="number" placeholder="Valor" [(ngModel)]="amount" name="amount" required />
    <select [(ngModel)]="type" name="type">
      <option value="income">Receita</option>
      <option value="expense">Despesa</option>
    </select>
    <button type="submit">Adicionar</button> -->
  </form>