.dashboard-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    // background-color: #caf0f8; 
    // background-color: #90e0ef;
    background-color: #e5e5e5;
  }
  
  .main-section {
    width: 80%;
    max-width: 1300px; 
    padding: 20px;
    background-color: #ffffff; 
    // background-color: #caf0f8; 

    border-radius: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
  }
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Ajuste conforme necessário */
  }
  
  #add-button {
    margin-left: auto; /* Garante que o botão fique à direita */
  }
